<!--<html>-->
<!--    <head>-->
<!--        <title>-->
<!--            Home Page-->
<!--        </title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <h1>Welcome to Ticker Talk</h1>-->
<!--        <form action="#" method="post">-->
<!--        <input type="text" placeholder="type your ticker here", name="ticker">-->
<!--        <input type="submit" value="submit">-->
<!--        </form>-->
<!--        <br><br>-->
<!--        <p>See Statistics on ($AAL)</p>-->
<!--        <p>Total Tweets Today = {{count_tweets}}</p>-->
<!--        <p>According to Twitter, there were {{percentage_sentiment}} more tweets that were <strong>{{sentiment}}-->
<!--            </strong></p>-->
<!--        <P>Total Reddit Mentions Today = {{reddit_mentions}}</P>-->
<!--    </body>-->
<!--</html>-->


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ticker Tracker</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.jpg">

        <link rel="stylesheet" href="{{ url_for('static', filename='./css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/fontAwesome.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/light-box.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css')}}">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link rel="icon" href="data:,">

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="index.html">Ticker<em>Tracker</em></a>
        </div>

        <div class="menu-icon">
            <span></span>
        </div>

    </nav>

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
                <h1>Ticker<em>Tracker</em></h1>
<!--                <p>See Statistics on AAL ($AAL)</p>-->
<!--                <p>Total Tweets Today = {{count_tweets}}</p>-->

                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                <form action="#" method="post">
                    <input type="text" placeholder="Please enter ticker.", name="ticker">
                    <i class="fa fa-search"> </i>
                </form>

            </div>
        </div>
    </div>


    <div class="grid-portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/big_portfolio_item_4.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Twitter <em>Statistics</em></h1>
                                    <p>Some words.</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/portfolio_item_3.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/big_portfolio_item_4.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Reddit <em>Statistics</em></h1>
                                    <p>More Words</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/portfolio_item_3.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/big_portfolio_item_4.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>News <em>Statistics</em></h1>
                                    <p>Even more words.</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/portfolio_item_3.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/big_portfolio_item_7.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>We <em>Can</em></h1>
                                    <p>Wow words.</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/portfolio_item_9.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/big_portfolio_item_8.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Put <em>Some</em></h1>
                                    <p>Words and stuff.</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/portfolio_item_9.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/big_portfolio_item_9.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Stuff <em>Here</em></h1>
                                    <p>Put something here.</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/portfolio_item_9.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Project Completed for Hacklytics 2021</p>
            </div>
        </div>
    </footer>


    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="index.html">Home</a>
                  </li>
                  <li>
                      <a href="index.html">About</a>
                  </li>
                  <li>
                      <a href="index.html">Help</a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>

    <script src="{{ url_for('static', filename='js/plugins.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>
</html>
